<!DOCTYPE html>
<html>
<head>
<title>私人社区官网</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="srsq/styles/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="srsq/styles/style.css" rel='stylesheet' type='text/css' />
<script src="srsq/js/jquery-1.11.0.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="srsq/js/move-top.js"></script>
<script type="text/javascript" src="srsq/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>

<!--start-smoth-scrolling-->
<body>
<!--start-banner-->
	<div class="banner" id="home">
		<div class="container">
			<div class="header">
			<div class="logo">
                <h2>私人社区官方网站</h2>
                <li><a href="" class="address">邮箱:625225273@qq.com  微博:http://weibo.com/u/5100479224</a></li>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="#about" class="scroll hvr-shutter-out-vertical">关于</a></li>
						<li><a href="#screens" class="scroll hvr-shutter-out-vertical">未来</a></li>
						<li><a href="#reviews" class="scroll hvr-shutter-out-vertical">人物</a></li>
						<li><a href="#screens" class="scroll hvr-shutter-out-vertical">应用截图</a></li>
						<li><a href="#demo" class="scroll hvr-shutter-out-vertical">功能演示</a></li>
						<li><a href="#get-it" class="scroll active hvr-shutter-out-vertical">联系我们</a></li>
					</ul>
			</div>
            <div class="clearfix"></div>
			</div>
			<div class="banner-bottom">
				<div class="col-md-6 banner-left">
					<img src="srsq/images/app-2.png" alt="" />
				</div>
				<div class="col-md-6 banner-right">
					<h1>发现一个 <span>有趣的app</span></h1>
					<h2>此时此刻</h2>
                    <p>私人社区在这里诞生,社区，圈子应有尽有集成聊天功能，无需添加好友，随意畅聊</p>
					<div class="bnr-btn">
						<a href="https://itunes.apple.com/cn/app/id1127768538" class="hvr-bounce-to-bottom">查看更多</a>
					</div>
					<ul>
						<li><a href="https://itunes.apple.com/cn/app/id1127768538"><span class="apl"> </span></a></li>
						<li><a href="https://itunes.apple.com/cn/app/id1127768538"><span class="rbt"> </span></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	
        <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	
<!--end-banner-->
    
	<!--start-feature-->
	<div class="feature" id="about">
		<div class="feature-bottom">
			<div class="feature-left">
				<div class="feature-top">
					<h3>功能介绍</h3>
					<p></p>
				</div>
				<div class="feature-main">
					<div class="feature-one">
						<div class="ftr-left">
							<img src="srsq/images/ftr-one.png" alt="" />
						</div>
						<div class="ftr-right">
							<h4>聊天系统</h4>
							<p>集成融云RCIM即时通讯聊天服务</p>
						</div>
						<div class="ftr-left-one">
							<img src="srsq/images/ftr-two.png" alt="" />
						</div>
						<div class="ftr-right-one">
							<h4>安全系统</h4>
							<p>采用移动端最流行的第三方登陆，保证用户账号安全</p>
						</div>
						<div class="ftr-left-two">
							<img src="srsq/images/ftr-tre.png" alt="" />
						</div>
						<div class="ftr-right-two">
							<h4>动态发布</h4>
							<p>随时随地，发布动态，和好友分享你身边的新鲜事~</p>
						</div>
						<div class="ftr-left-tre">
							<img src="srsq/images/ftr-fvr.png" alt="" />
						</div>
						<div class="ftr-right-tre">
							<h4>网络系统</h4>
							<p>采用科技最前沿的swift服务器，云端托管在heroku，24小时为你服务</p>
						</div>
						<div class="ftr-left-fvr">
							<img src="srsq/images/ftr-fve.png" alt="" />
						</div>
						<div class="ftr-right-fvr">
							<h4>用户系统</h4>
							<p>你可以无需添加好友就可以和你心仪的人聊天，随意畅聊</p>
						</div>
					</div>
				</div>
			</div>
			<div class="feature-right">
				<img src="srsq/images/feature-1.png" alt="" />
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--end-feature-->
	<!--start-establish-->
	<div class="establish" id="reviews">
		<div class="container">
			<div class="est-top">
				<div class="est-left">
					<img src="srsq/images/men-2.png" alt="" />
				</div>
				<div class="est-right">
					<h3>小菜iOS</h3>
					<p>私人社区app创始人，同时也是一名iOS开发者，热衷于分享技术，专注移动开发领域</p>
					<ul>
						<li><img src="srsq/images/star.png" alt="" /></li>
						<li><img src="srsq/images/star.png" alt="" /></li>
						<li><img src="srsq/images/star.png" alt="" /></li>
						<li><img src="srsq/images/star.png" alt="" /></li>
						<li><img src="srsq/images/star.png" alt="" /></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="est-bottom">
				<p><sup><img src="srsq/images/quote-1.png" alt="" /></sup>主要技能，objective-c,swift,html,vapor后台server,微信小程序,目前正在研究leaf语言</span><sub><img src="srsq/images/quote-2.png" alt="" /></sub></p>
			</div>
		</div>
	</div>
	<!--end-establish-->
	<!--start-awesome-->
	<div class="awe" id="screens">
		<div class="container">
			<div class="awe-top">
				<h3>私人社区iOS app界面截图</h3>
                <p>
                目前1.0版本新增功能：
                1.优化即时聊天IM
                2.压缩安装包大小
                3.app极限省流量
                4.支持上传相册
                5.无限制内容分享
                6.动态发布支持连接，点击可调转
                7.社区列表流畅度提升
                </p>
			</div>
			<div class="awe-bottom">
				<div class="col-md-3 awe-left">
					<img src="srsq/images/awe-1.jpg" alt="" />
				</div>
				<div class="col-md-3 awe-left">
					<img src="srsq/images/awe-2.jpg" alt="" />
				</div>
				<div class="col-md-3 awe-left">
					<img src="srsq/images/awe-3.jpg" alt="" />
				</div>
				<div class="col-md-3 awe-left">
					<img src="srsq/images/awe-4.jpg" alt="" />
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-awesome-->
	<!--start-demo-->
	<div class="demo" id="demo">
		<div class="container">
			<div class="demo-top">
				<h3>app 功能演示</h3>
				<p>网站部分功能暂不可用，社长正在紧张建设中，尽请期待</p>
			</div>
			<div class="demo-bottom">
				<iframe src="http://localhost:8080/home" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<!--end-demo-->
	<!--start-get-->
	<div class="get" id="get-it">
		<div class="container">
			<div class="get-top">
				<h3>联系我们</h3>
                <p>邮箱:625225273@qq.com</p>
                <p>微博:http://weibo.com/u/5100479224</p>
                <p>地址:上海市普陀区曹杨路329号 上海私人社区科技有限公司</p>
				<ul>
					<li><a href="https://itunes.apple.com/cn/app/id1127768538"><img src="srsq/images/btn-1.png" alt="" /></a></li>
				</ul>
                <p class="footer-main">Copyright &copy; 2015.Company srsq All rights reserved.</p>
			</div>
		</div>
	</div>
	<!--end-get-->
	<!--start-support-->
	<!--end-support-->
	<!--start-footer-->
<!--	<div class="footer">-->
<!--		<div class="container">-->
<!--			<div class="footer-main">-->
<!--				<a href="index.html"><img src="srsq/images/logo-3.png" alt="" /></a>-->
<!--				<ul>-->
<!--					<li><a href="#"><span class="fb active"> </span></a></li>-->
<!--					<li><a href="#"><span class="twit"> </span></a></li>-->
<!--					<li><a href="#"><span class="skp"> </span></a></li>-->
<!--				</ul>-->
<!--				<p>Copyright &copy; 2015.Company srsq All rights reserved.<a target="_blank" href="https://www.baidu.com">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>-->
<!--			</div>-->
<!--		</div>-->
<!--		 <script type="text/javascript">-->
<!--									$(document).ready(function() {-->
<!--										/*-->
<!--										var defaults = {-->
<!--								  			containerID: 'toTop', // fading element id-->
<!--											containerHoverID: 'toTopHover', // fading element hover id-->
<!--											scrollSpeed: 1200,-->
<!--											easingType: 'linear' -->
<!--								 		};-->
<!--										*/-->
<!--										-->
<!--										$().UItoTop({ easingType: 'easeOutQuart' });-->
<!--										-->
<!--									});-->
<!--								</script>-->
<!--		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>-->
<!--	</div>-->
	<!--end-footer-->
</body>
</html>
